<div class="col-lg-12 col-md-12 col-sm-12">
  <h2 mat-dialog-title>Creación de proyectos</h2>
  <div mat-dialog-content>
    <form [formGroup]="formCreateProject">
      <div class="col-lg-12 col-md-12 col-sm-12 custom-margin mt-4">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Nombre</mat-label>
              <input matInput formControlName="nombre">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Descripción</mat-label>
              <input matInput formControlName="descripcion">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Administrador</mat-label>
              <mat-select formControlName="rol_id" (selectionChange)="onChangeRole($event)">
                <mat-option value="">Seleccionar</mat-option>
                <mat-option value="1">Administrador</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </form>
  </div>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-button cdkFocusInitial [disabled]="formCreateProject.invalid" (click)="onSubmit()">Actualizar</button>
  </mat-dialog-actions>
</div>
